* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#container {
  display: flex;
}

#memory-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.memory-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
  background-color: aqua;
}

.memory-image {
  font-size: 50px;
  opacity: 0;
}

.visible-image {
  opacity: 1;
}

.green-background {
  background-color: green;
}
